* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

#header_helper {
  display: block;
  width: 0;
  height: 0;
}

#header {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #a80d05;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header h1 {
  font-size: 3em;
}

#footer {
  width: 100%;
  height: 60px;
  background-color: #a80d05;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer_text {
  font-size: 1em;
}

#loggedin_box {
  position: absolute;
  right: 0;
  top: 0;
  width: 240px;
  height: 120px;
  background-color: #540703;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  background-color: #2f2f2f;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px;
}

button:disabled {
  background-color: #1f1f1f;
  border: 2px solid #cfcfcf;
  color: #cfcfcf;
  padding: 10px;
}

button:hover {
  border-color: #cf7f2f;
  color: #cf7f2f;
  background-color: #3f3f3f;
}

button:disabled:hover {
  border-color: #cfcfcf;
  color: #cfcfcf;
  background-color: #1f1f1f;
}

button:active {
  border-color: #7fcf2f;
  color: #7fcf2f;
  background-color: #3f3f3f;
}

button:disabled:active {
  border-color: #cfcfcf;
  color: #cfcfcf;
  background-color: #1f1f1f;
}

#index_main_box {
  width: 100%;
  height: calc(100% - 180px);
  background-color: #2f3237;
  overflow: hidden auto;
}

#index_nav_box {
  width: 100%;
  height: 120px;
  background-color: #22262a;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#index_nav_box button {
  font-size: 36px;
  border-width: 4px;
}

#index_content_box {
  width: 100%;
  background-color: #2f3237;
  padding: 20px;
}

#logreg_content_box {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  background-color: #2f3237;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#logreg_content_box h1 {
  color: #a80d05;
  font-size: 6em;
  text-align: center;
}

.button_menu {
  font-size: 36px;
  border-width: 4px;
}

#input_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
}

#input_cont .big_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
}

.input_elem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input_elem label {
  background: none;
  font-size: 2em;
  color: #ffffff;
}

.input_elem input {
  background: none;
  font-size: 2em;
  width: 50%;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.input_elem input:invalid {
  border-color: #a80d05;
}

#scroll_content_box {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  background-color: #2f3237;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#scroll_content_box form {
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#scroll_content_box table {
  width: 80%;
  margin-bottom: 20px;
  color: #ffffff;
}

#scroll_content_box input[type="radio"] {
  padding-right: 5px;
}

#scroll_content_box td,
#scroll_content_box th {
  text-align: left;
  background-color: #26282e;
}

#scroll_content_box th {
  background-color: #26282e;
  border: 5px solid #26282e;
  padding: 15px;
  font-size: 1.2em;
}

.exam_radans {
  position: relative;
}

.exam_radans input {
  position: absolute;
  top: 18px;
  left: 12px;
  transform: scale(1.2);
}

.exam_radans label {
  box-sizing: content-box;
  display: block;
  width: calc(100% - 45px);
  height: 100%;
  padding: 10px;
  padding-left: 25px;
  border: 5px solid #26282e;
}

.exam_radans label:hover {
  border-color: #4b91d1;
}

.exam_radans input:checked + label {
  background-color: #4b91d1;
  border-color: #4b91d1;
}

.exam_button {
  margin-bottom: 20px;
}

.result_radans {
  position: relative;
}

.result_radans input {
  position: absolute;
  top: 18px;
  left: 12px;
  transform: scale(1.2);
  outline: none;
}

.result_radans label {
  box-sizing: content-box;
  display: block;
  width: calc(100% - 45px);
  height: 100%;
  padding: 10px;
  padding-left: 25px;
  border: 5px solid #26282e;
}

.result_neutral input + label {
  background-color: #451717;
  border-color: #451717;
  color: #ffd9d9;
  opacity: 0.2;
}

.result_neutral input {
  opacity: 0.2;
}

.result_good input + label {
  background-color: #015501;
  border-color: #015501;
}

.result_bad input:checked + label {
  background-color: #820000;
  border-color: #820000;
}

.result_button {
  margin-bottom: 20px;
}

.result_score_box {
  width: 90%;
  height: 100px;
  font-size: 3em;
  text-align: center;
  border-bottom: 2px solid #a80d05;
  border-top: 2px solid #a80d05;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 20px 0;
}

.result_score_yourscore {
  color: #f8180d;
}

#main_box {
  width: 100%;
  height: calc(100% - 180px);
  display: flex;
  flex-direction: row-reverse;
}

#admin_nav_box {
  width: 240px;
  height: 100%;
  overflow: hidden auto;
  background-color: #22262a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#admin_nav_box * {
  margin-bottom: 10px;
}

#admin_nav_box h2 {
  border-top: 2px solid #ffffff;
  color: #ffffff;
  padding-top: 10px;
}

#admin_content_box {
  width: calc(100% - 240px);
  height: 100%;
  overflow: hidden auto;
  background-color: #2f3237;
  padding: 20px;
}

#loggedin_warning_box {
  width: 100%;
  height: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2f3237;
}

#loggedin_warning_buttons {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#loggedin_warning_buttons button {
  font-size: 36px;
  border-width: 4px;
}

#loggedin_warning_text {
  color: #a80d05;
  font-weight: 900;
  font-size: 6em;
}

#toptable_box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}

.toptable {
  border-collapse: collapse;
  text-align: center;
  color: #ffffff;
}

.toptable h2 {
  padding: 10px 0;
  background: #26282e;
  border: 2px solid #2f3237;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
}

.toptable h3 {
  padding: 10px 0;
  background: #26282e;
  border: 2px solid #2f3237;
  border-top: none;
  border-radius: 0 0 15px 15px;
}

.toptable td,
.toptable th {
  border: 2px solid #2f3237;
  padding: 10px;
  width: 160px;
  text-align: center;
  background-color: #26282e;
}

.toptable .toptable_fieldbig {
  width: 320px;
}

.toptable .toptable_fieldwrong {
  color: #a80d05;
  background-color: #32262a;
}

.toptable input[type="text"] {
  background: none;
  border: 2px solid #ffffff;
  padding: 5px;
  color: #ffffff;
  text-align: center;
}

.toptable textarea {
  background: none;
  border: 2px solid #ffffff;
  padding: 5px;
  color: #ffffff;
  text-align: left;
  width: 100%;
  resize: none;
  height: 100%;
}

.toptable select {
  background: none;
  border: 2px solid #ffffff;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.toptable .usersimg {
  max-width: 320px;
}

.toptable .usersimg img {
  width: 100%;
}

.toptable .questionsimg img {
  width: 100%;
}

.toptable .personalimg img {
  width: 100%;
}
